<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<footer>
    <div class="container-fluid bg-info">
        <div class="container">
            <div class="row">
                <div style="text-align: center;" class="text-white">

                    <h4>  For further information about this research, please contact
                        us</h4>
                    <p>   <a href="mailto:mohamed.adel@insight-centre.org" class="header-font"> @ </a>
                        Mohamed Adel Rezk <a href="mailto:mathieu.daquin@insight-centre.org"
                                             class="header-font"> @ </a>
                        Prof. Mathieu d'Aquin <a
                                href="mailto:adegboyega.ojo@insight-centre.org" class="header-font"> @ </a>
                        Dr. Adegboyega Ojo </p>

                </div>


            </div>

        </div>
    </div>

</footer>
<p class="text-center"> Copyright © Insight Centre @NUIG - 2019. All rights reserved. </p>


